<!doctype html>
<html lang="zh-hant">
  <head>
    <link rel="stylesheet" href="stylesheets/presentation.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li><a href="#my-greet">Hi</a></li>
            <li><a href="#my-about">關於我</a></li>
            <li><a href="#my-habit" >興趣</a></li>
            <li><a href="#my-lastpart" >最後</a></li>
          </ul>
          <a href="#" class="brand-logo">5xRuby</a>
        </div>
      </nav>
      <div id="my-greet" class="home-container">
        <h1>Nice to meet you, 5xRuby</h1>
      </div>
      <div class="street">
      </div>
    </header>
    <main>
      <section id="my-about" class="full-section">
        <article class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>關於我</h2>
              <h3>Hi，我是林家弘，我畢業於：</h3>
                <p><strong><span>成功大學環境工程學系</span></strong>，並曾在<strong><span>日本千葉大學交換一年</span></strong></p>
              </ul>
              <h3>兵役結束後曾陸續在：</h3>
                <p><strong><span>土女時代行銷當實習生</span></strong>、<strong><span>魚旅背包客棧當管家</span></strong></p>
              </ul>
              <h3>目前則是：</h3>
              <p><strong><span>自學coding中</span></strong></p>
            </div>
            <div class="col-md-6">
              <img src="images/personal_image.jpg">
            </div>
          </div>
        </article>
      </section>
      <section id="my-habit" class="habit full-section-two">
        <div class="container habit-content">
          <h2>平時興趣</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="habit-wrap">
                <div class="habit-img"><img src="images/reading.jpg"></div>
                <div class="habit-heading">
                  <h3>閱讀</h3>
                </div>
                <ul>
                  <li>每天都要看，不看會死掉</li>
                  <li>但是唯獨很少看小說類</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="habit-wrap">
                <div class="habit-img"><img src="images/writing.jpg"></div>
                <div class="habit-heading">
                  <h3>寫作</h3>
                  
                </div>
                <ul>
                  <li>頻率約2天一篇，每天寫1000多字</li><li>內容包括心得、反思和學習總結</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="habit-wrap">
                <div class="habit-img">
                  <img src="images/traveling.jpg">
                </div>
                <div class="habit-heading">
                  <h3>旅行</h3>
                  
                </div>
                <ul>
                  <li>更喜歡在不同國家生活的感覺</li>
                  <li>接下來想去上海、新加坡＆更多</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="my-lastpart" class="last">
        <article class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="images/life9.jpg">
            </div>
            <div class="col-md-6">
              <h2>謝謝大家的耐心</h2>
              <h2>Any feedback?</h2>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <p>2017©Copyright 五倍紅寶石實習行前會</p>
    </footer>
  </body>
</html>